body {
    background: #ECECEC;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

.niceGradient {
    background: #e91e63; /* Old browsers */
    background: -moz-linear-gradient(left, #e91e63 0%, #9c27b0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e91e63 0%,#9c27b0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e91e63 0%,#9c27b0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e91e63', endColorstr='#9c27b0',GradientType=1 ); /* IE6-9 */
}

.btn {
    border-radius: 0px!important;
}