.sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x:hidden;
    min-height: 100%;
    width:200px;
    z-index: 1;
    margin-top: 70px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding-top:12px;
    padding-bottom:12px;
    padding-left: 15px;
    padding-right:15px;
    border-radius:5px;
    display: table;
    cursor:pointer; 
    color:#333;   
    width: 80%;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
}

.sidebar ul li i {
    float:left;
}

.sidebar ul li:hover {
    background:#d8d8d8;
}

.sidebar ul li.active {
    background:#d8d8d8;
    color:#E91E63;
}

.sidebar ul li span {
    vertical-align:top;
    padding-left:6px;
}